[server]
port=7911
# Logging priorities:
#DEBUG      Debug messages
#INFO       Information
#NOTICE     Normal runtime conditions
#WARNING    General Warnings
#ERROR      General Errors
#CRITICAL   Severe situations
#ALERT      Take immediate action
#EMERGENCY  System is unusable
logpriority=DEBUG
logfile=logging/poets.log

[events]
logfile=events/events.log

[rules]
searchstrategy=dfs
rulerepository=rules/